--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0

https://github.com/TaoLiveAIGC/TLive-Omni/releases/download/v1.0.0-rc1/transformers-5.2.0-py3-none-any.whl
accelerate==1.13.0
https://github.com/TaoLiveAIGC/TLive-Omni/releases/download/v1.0.0-rc1/flash_attn-2.8.3-cp310-cp310-linux_x86_64.whl
flash-linear-attention==0.4.2
https://github.com/TaoLiveAIGC/TLive-Omni/releases/download/v1.0.0-rc1/causal_conv1d-1.6.0-cp310-cp310-linux_x86_64.whl
Pillow==11.3.0
audioread==3.1.0
av==16.1.0
librosa==0.11.0
numpy==2.2.6
safetensors==0.7.0
soundfile==0.13.1
